body {
  background-color: #1c0e1d;
  color: #cac271;
}

h1, p {
  text-align: center;
}

label {
  display: block;
}

fieldset {
  border: none;
}

input, textarea, select {
  width: 100%;
}

input, textarea {
  background-color: #9d99bc;
  border-color: #9d99bc;
}

.inline {
  width: unset;
}

